<launch>
  <group ns="leonardo">
    <param name="tf_prefix" value="leonardo" />
    <!-- Localization -->
    <!--<include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-amcl-simulation.launch.xml">
      <arg name="initial_pose_x" value="1"/>
      <arg name="initial_pose_y" value="1"/>
      <arg name="initial_pose_a" value="0"/>
      <arg name="scan_topic" value="scan_hokuyo"/>
      <arg name="odom_frame_id" value="leonardo/odom"/>
      <arg name="base_frame_id" value="leonardo/base_link"/>
    </include>-->
    <node pkg="fake_localization" type="fake_localization" name="fake_localization">
      <param name="delta_x"         value="0.0"/>
      <param name="delta_y"         value="0.0"/>
      <param name="delta_yaw"       value="0.0"/>
      <param name="global_frame_id" value="/map"/>
      <param name="odom_frame_id"   value="leonardo/odom"/>
      <param name="base_frame_id"   value="leonardo/base_link"/>
      <remap from="base_pose_ground_truth" to="odom"/>
    </node>
    <!-- Move base -->
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-move_base-simulation.launch.xml">
      <arg name="laser_topic" value="scan_hokuyo" />
    </include>
    <param name="move_base/global_costmap/global_frame" value="/map" />    
  </group>
 <!-- 
  <group ns="raphael">
    <param name="tf_prefix" value="raphael" />
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-amcl-simulation.launch.xml">
      <arg name="initial_pose_x" value="1"/>
      <arg name="initial_pose_y" value="1"/>
      <arg name="initial_pose_a" value="0"/>
      <arg name="scan_topic" value="scan_hokuyo"/>
      <arg name="odom_frame_id" value="raphael/odom"/>
      <arg name="base_frame_id" value="raphael/base_link"/>
    </include>
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-move_base-simulation.launch.xml">
      <arg name="laser_topic" value="scan_hokuyo" />
    </include>
    <param name="move_base/global_costmap/global_frame" value="/map" />    
  </group>
  
  <group ns="donatello">
    <param name="tf_prefix" value="donatello" />
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-amcl-simulation.launch.xml">
      <arg name="initial_pose_x" value="1"/>
      <arg name="initial_pose_y" value="1"/>
      <arg name="initial_pose_a" value="0"/>
      <arg name="scan_topic" value="scan_hokuyo"/>
      <arg name="odom_frame_id" value="donatello/odom"/>
      <arg name="base_frame_id" value="donatello/base_link"/>
    </include>
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-move_base-simulation.launch.xml">
      <arg name="laser_topic" value="scan_hokuyo" />
    </include>
    <param name="move_base/global_costmap/global_frame" value="/map" />    
  </group>
  
  <group ns="michelangelo">
    <param name="tf_prefix" value="michelangelo" />
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-amcl-simulation.launch.xml">
      <arg name="initial_pose_x" value="1"/>
      <arg name="initial_pose_y" value="1"/>
      <arg name="initial_pose_a" value="0"/>
      <arg name="scan_topic" value="scan_hokuyo"/>
      <arg name="odom_frame_id" value="michelangelo/odom"/>
      <arg name="base_frame_id" value="michelangelo/base_link"/>
    </include>
    <include file="$(find turtlebot_bringup)/launch/includes/simulation/ninja-move_base-simulation.launch.xml">
      <arg name="laser_topic" value="scan_hokuyo" />
    </include>
    <param name="move_base/global_costmap/global_frame" value="/map" />    
  </group>
-->
</launch>
