<?xml version="1.0"?>
<!--
	- Base		: kobuki
	- Stacks	: ninja-hexagons
	- 3d Sensor	: ninja-kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/turtlebot_logical_camera_plugin.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/actuators/turtlebot_sim_arm.urdf.xacro"/>

  <kobuki/>
  <stack_ninja-hexagons parent="base_link"/>
  <sensor_ninja-kinect  parent="base_link"/>
  <sensor_hokuyo parent="base_link"/>
  <turtlebot_logical_camera_plugin name="logical_camera" parent="base_link" orientation_z="0.0"/>
  <turtlebot_sim_arm name="arm" parent="base_footprint"/>
  <turtlebot_ground_truth_pose/>
  <!--<gazebo>
 The plugin that determines the closest POI to a certain coordinate.
    <plugin name="turtlebot_gazebo_grid_annotator" filename="libturtlebot_gazebo_grid_annotator.so"/>
    </gazebo>-->
</robot>
